nav {
    display: flex;
    justify-content: center; 
    margin: 20px;
    gap: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, transform 0.5s; 
}

nav:hover {
    background-color: lightgray; 
    transform: scale(1.05); 
}

nav a {
    text-decoration: none;
    color: black;
    transition: color 0.3s, transform 0.3s;
    float: left;
}

nav a:hover {
    color: darkblue;
    transform: scale(1.1);
}